
.menuDiv {
    width: 67vw;
    height: 100%;
    left: 200px;
    top: 75px;
    position: fixed;
    overflow-y: scroll;
}
.menuDiv::-webkit-scrollbar {
    display: none;
}
.topNav {
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    background-color: #111;
    overflow: hidden;

}

#InLine{
    display:inline;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: scroll;
    
}

    .sidenav::-webkit-scrollbar {
        display: none;
    }

    .sidenav a {
        
        padding: 25px 8px 8px 50px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        display: block;
        transition: 0.3s;
        font-family: "Trebuchet MS",sans-serif;
    }

        .sidenav a:hover {
            color: grey;
        }

.sidenavButton {
    border-style: none;
    width: 200px;
    height:75px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: "Trebuchet MS",sans-serif;
    background-color: #111;
}
.sidenavButton:hover{
    background-color:grey;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }


        .topNav {
            font-size: 18px;
        }
}
.menuLabel{
    color: white;
    border: solid 1px black;
    font-size: 30px;
    font-family:'Trebuchet MS',sans-serif;
    
}

.organizeMenuTable td{
    font-size: 25px;
    text-align: left;
    font-family:'Trebuchet MS', sans-serif;
}
.organizeMenuTable{
    margin-bottom:40px;
}
.itemMenu {
    font-family: 'Trebuchet MS', sans-serif;
}
